/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #101010;
  --secondary-color: #00ffea;
  --third-color: #fff;
  --main-grey: #212529;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Big Shoulders Display', cursive;
  color: #111;
}

p,
.service,
.navigation ul li a:hover {
  text-shadow: 0px 1px 1px #000000;
  padding: 1rem 3rem 1rem 1rem;
  background-color: #ffd829;
  clip-path: polygon(0 0, 100% 6%, 100% 88%, 0% 100%);
}

.bg__clip {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  clip-path: polygon(0 86%, 100% 65%, 100% 100%, 0 100%);
  z-index: -100;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  z-index: 10;
}

h1 > span {
  background-color: black;
  padding: 0.1rem;
  clip-path: polygon(0 0, 100% 6%, 100% 88%, 0% 100%);
  color: white;
}

.intro {
  position: absolute;
  top: 35rem;
  left: 15%;
  transition: linear 200ms;
}

p:hover {
  clip-path: polygon(0 0, 97% 7%, 100% 100%, 0% 87%);
}

span {
  transition: linear 200ms;
}

span:hover {
  clip-path: polygon(0 0, 97% 7%, 100% 100%, 0% 87%);
}

p,
.intro {
  margin: 20px 0 10px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.intro {
  max-width: 500px;
}

section.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10rem;
  padding: 100px;
  padding-bottom: 50vh;
}

.home-img {
  position: absolute;
  top: 10rem;
  right: 10rem;
  height: 640px;
  background-color: black;
  padding: 1rem;
  z-index: 9;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  background-color: black;
}

.btn:hover {
  transform: scale(0.98);
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 6rem;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}

.logo > img {
  width: 100px;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 300ms;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 5rem;
  color: #111;
  text-decoration: none;
  font-weight: 700;
}

.navigation ul li a:hover {
  color: white;
  background-color: black;
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}

.navigation .social-bar a:hover {
  padding: 0;
  background-color: transparent;
}

.navigation .email-icon {
  width: 100%;
  position: absolute;
  bottom: 20px;
  transform: scale(0.5);
}

/* ABOUT */
#about {
  padding-bottom: 50vh !important;
  padding: 100px;
}

#about .title {
  margin-right: auto;
}

#about .about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#about .about p {
  padding: 2rem 2rem 4rem 2rem;
  margin-right: 1rem;
  font-size: 2rem;
  height: fit-content;
  display: flex;
  align-items: center;
  transition: linear 200ms;
}

#about .about p:hover {
  clip-path: polygon(0 0, 97% 7%, 100% 100%, 0% 87%);
}

#about .about .about__services {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about .about .about__services .service {
  width: 20%;
  margin: 1rem 0.6rem;
  height: 450px;
  background-color: black;
  color: white;
  display: inline-table;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 4rem;
  clip-path: none;
  text-transform: uppercase;
  background-image: url(/business/images/barbershop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid black;
  font-size: 2rem;
  text-shadow: 2px 2px 20px #000;
}

#about .about .about__services .service:nth-child(3) {
  background-image: url(/business/images/gym.jpg);
  background-size: cover;
  background-color: white;
}

#about .about .about__services .service:nth-child(2) {
  background-image: url(/business/images/coffee.jpg);
  background-size: cover;
  background-color: white;
}

#about .about .about__services .service:nth-child(4) {
  background-image: url(/business/images/ecommerce.jpg);
  color: black;
  background-size: cover;
  background-color: white;
}

#about .about .about__services .service:hover {
  transform: scale(0.98);
}

/* SERVICES PAGE */
.services {
  margin: 0rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  padding: 0px 100px 100px 100px;
}

#services h1 {
  margin-left: 5rem;
}

.services .service {
  background-color: transparent;
  transition: linear 200ms;
}

.services > .service:hover {
  transform: scale(1.1) rotate(1deg);
}

.services .service h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
  color: black;
  background-color: #ffd829;
  padding: 1rem 1rem 10rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 58%);
  text-shadow: none;
}

.services .service p {
  background-color: black;
  color: white;
  text-shadow: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  margin: -10rem -1rem 0rem -1rem;
}

.services .service .icon img {
  max-width: 100px;
  padding: 1rem;
  clip-path: polygon(0 6%, 100% 13%, 100% 86%, 0 100%);
}

/* WORK PAGE */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

#work .title h1 {
  margin-left: 1rem !important;
}

.portfolio .item {
  position: relative;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.479);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .item:hover .action {
  opacity: 1;
}

.portfolio .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}

/* CONTACT */
#footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffd829;
  padding: 100px 0px 0px 0px;
  width: 100%;
}

#footer .creator {
  background-color: black;
  padding: 1rem;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 1000;
  position: fixed;
  bottom: 0;
}

#footer .footer__top {
  flex-direction: column;
}

#footer .footer__top,
#footer .footer__bottom {
  padding: 1rem;
  margin: 0rem;
  display: flex;
  justify-content: space-between;
}

#footer .footer__bottom {
  margin-bottom: 2rem;
}

#footer .footer__top h1 {
  font-size: 3.6rem;
}

#footer .footer__top a {
  font-size: 2rem;
  width: fit-content;
}

#footer .footer__bottom {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

#footer .footer__bottom .info-box {
  margin: 1rem;
}

#footer .footer__bottom .info-box .details {
  font-size: 2rem;
}

@media (max-width: 1750px) {
  h1 {
    font-size: 8rem;
  }
}

@media (max-width: 1610px) {
  #about .about .about__services {
    margin-left: 0rem !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #about .about p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1550px) {
  h1 {
    font-size: 7rem;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1336px) {
  h1 {
    font-size: 6rem;
    width: 800px;
    margin-right: auto;
  }

  .home-img {
    right: 7rem;
    height: 540px;
  }

  .services {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .services .service {
    padding: 0;
  }

  .services .service p {
    padding: 2rem;
  }
}

@media (max-width: 1220px) {
  h1 {
    font-size: 5rem;
    width: 680px;
  }
  .home-img {
    top: 15rem;
    right: 2rem;
    height: 390px;
  }

  .intro {
    top: 25rem;
    left: 7%;
  }

  #about {
    padding-bottom: 6rem !important;
    padding: 100px 35px;
  }

  #about .title h1 {
    margin: 0 !important;
  }

  #about .about {
    flex-direction: column;
  }

  #about .about p {
    font-size: 1.6rem;
    flex-direction: column;
    width: 100%;
  }

  #about .about .about__services .service {
    font-size: 1.4rem;
    height: 400px;
  }

  #footer {
    flex-direction: column;
  }

  #footer .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5rem;
    width: 680px;
  }
  .home-img {
    top: 15rem;
    right: 2rem;
    height: 390px;
  }

  .intro {
    position: absolute;
    top: 25rem;
    left: 7%;
  }

  #about {
    padding-bottom: 6rem !important;
    padding: 100px 35px;
  }

  #about .title h1 {
    margin: 0 !important;
  }

  #about .about {
    flex-direction: column;
  }

  #about .about p {
    font-size: 1.6rem;
    flex-direction: column;
  }

  #about .about .about__services .service {
    height: 400px;
  }

  #about .about .about__services .service h2 {
    font-size: 1.4rem !important;
  }
}

@media (max-width: 900px) {
  .bg__clip {
    display: none;
  }
  .logo {
    left: 0.4rem;
  }

  .logo img {
    width: 80px;
  }
}

@media (max-width: 930px) {
  h1 {
    font-size: 4rem;
    width: 580px;
  }
  .home-img {
    top: 17rem;
    right: 2rem;
    height: 390px;
  }

  .intro {
    top: 30rem;
    left: 10%;
    width: 370px;
  }

  #about {
    padding-bottom: 6rem !important;
    padding: 100px 35px;
  }

  #about .title h1 {
    margin: 0 !important;
  }

  #about .about {
    flex-direction: column;
  }

  #about .about p {
    font-size: 1.6rem;
    flex-direction: column;
  }

  #about .about .about__services .service {
    height: 400px;
    width: 100%;
  }

  #about .about .about__services .service h2 {
    font-size: 1.8rem !important;
  }

  #footer .footer__bottom {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 4rem;
    width: 450px;
  }
  .home-img {
    top: 17rem;
    right: 2rem;
    height: 300px;
  }

  .intro {
    position: absolute;
    top: 20rem;
    left: 10%;
    font-size: 1.3rem;
    width: 300px;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 3rem;
    margin-left: -3rem;
    width: 300px;
  }
  .home-img {
    top: 20rem;
    right: 1rem;
    height: 240px;
  }

  .intro {
    left: 7%;
    width: 200px;
  }

  .navigation ul li a {
    font-size: 3rem;
  }

  #footer .footer__top {
    flex-direction: column;
  }

  #footer .footer__top,
  #footer .footer__bottom {
    padding: 1rem;
    margin: 0rem;
    display: flex;
    justify-content: space-between;
  }

  #footer .footer__bottom {
    margin-bottom: 2rem;
  }

  #footer .footer__top h1 {
    font-size: 2.6rem;
    margin: 0 !important;
  }
}
